# Android
out/
*.iml
*.iws
*.ipr
target/
bin/
.idea
**/out/
**/*.iml
**/target/
**/bin/
.classpath
.project
**/.project
.settings/
**/.settings/
**/test-output/
**/*.class
build/
**/build
R.java
**/gradle
**/.gradle
**/gradlew
**/gradlew.bat
gen/
*~
local.properties
project.properties
.project
.settings/
.gradle/
# iOs
**/.DS_Store
**/build/
**/*.pbxuser
**/!default.pbxuser
**/*.mode1v3
**/!default.mode1v3
**/*.mode2v3
**/!default.mode2v3
**/*.perspectivev3
**/!default.perspectivev3
**/*.xcworkspace
**/!default.xcworkspace
**/xcuserdata
**/profile
**/*.moved-aside
**/DerivedData
**/UserInterfaceState.xcuserstate
**/xcuserdata/ 
**/.idea/
# Pods - for those of you who use CocoaPods
**/Pods
**/PodFile.lock
